@media screen and (min-width: 600px) {
    .scroll-bar {
        width: 200px;
    }

    .logo {
        /* height: 100px; */
        width: 100%;
        background-size: contain;
        background-image: url(../img/logo.svg);
        margin: 20px;
    }

    .home img {
        width: 30px;
        margin-right: 10px;
    }

    .cerca img {
        margin-right: 10px;
        width: 30px;
    }

    .la-tua-libreria img {
        margin-right: 10px;

        width: 30px;
    }

    .profile img {
        width: 30px;
    }

    .download {
        /* width: calc(100% / 3); */
    }

    .playlist {
        display: inline;
    }

    .home-text {
        display: inline;
    }

    .cerca-text {
        display: inline;
    }

    .libreria-text {
        display: inline;
    }

    .download-text {
        display: inline;
    }

    .profile-text {
        display: inline;
    }

    .profile {
        border-top: 1px solid gray;
        padding: 10px;
    }

    .home {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .cerca {
        display: flex;
        align-items: center;
    }

    .la-tua-libreria {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .download {
        margin: 15px;
        /* width: 35px; */
        display: flex;
    }

    .download img {
        margin-right: 15px;
        width: 20px;
    }

    .effettua-upgrade {
        z-index: 99999;
    }

    .header-main {
        width: calc(100% - 200px);
    }

    .main-content {
        padding-top: 120px;
    }

    .scopri {
        width: calc(100% / 3);
    }

    .plus-playlist {

        display: inline-block;
    }

    .h3-play {
        display: inline-block;
    }

    .nome-playlist {
        display: block;
    }





}









@media screen and (min-width: 700px) {
    .scopri {
        width: calc(100% / 5);
    }

}

@media screen and (min-width: 1100px) {}