@media screen and (min-width: 390px) {
    body {
        background-color: black;
    }

    .album {
        width: 80%;
        margin: 0 auto;
    }

    .testo-footer h5 {
        display: none;
    }

    .testo-footer h4 {
        display: inline;
        font-size: 1.5rem;
    }

    .like {
        display: none;
    }

    .footer-sinistra {
        display: flex;
        flex-direction: column;
        /* margin-left: -10px; */
    }

    .footer-sinistra img {
        width: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .footer-destra {
        display: none;
    }

    .footer-centro {
        width: 70%;
        transform: scale(3);
        margin-top: 25px;
    }

    .effettua-upgrade {
        right: 85px;
    }

    .scopri {
        width: 50%;
        padding-top: 8px;
    }

    .bordo-verde {
        margin: 1px auto;
    }

    .griglia-scopri {
        padding: 0;
    }

    .bottoni-footer {
        /* transform: scale(0.5); */
        font-size: 0.7rem;
    }

    .bottoni-footer .fa-play-circle {
        font-size: 0.8rem;
    }

    .media-player {
        transform: scale(0.8);
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .scroll-bar {
        height: calc(100% - 100px);
    }

    .sidebar-info {
        left: 0;
        bottom: 100px;
    }

    .progress-bar {
        width: 0;
    }

    .footer-sinistra {
        transform: scale(0.8);
    }

    .footer-destra {
        transform: scale(0.8);
    }

    .foto-footer {
        transform: scale(1.5);
    }

    .testo-footer {
        transform: scale(0.8);
        margin-left: 18px;
    }

    .scrollbar-superiore img {
        width: 30px;
    }

    .logo {
        margin-left: 5px;
    }

    .cerca {
        margin: 0 10px;
    }
}






@media screen and (min-width: 600px) {
    .barra-canzone{
        width: 100%;
    }
    .footer-centro {
        width: 40%;
        transform: scale(1);
        margin-top: 25px;
    }
.album{
    margin: 0;
    width: calc(100% / 2);
    padding: 15px;
}
    .foto-footer {
        transform: scale(1);
    }

    .testo-footer h5 {
        display: inline;
    }

    .footer-centro {
        margin-top: 0;
    }
.progress-bar{width: 100px;}
    .footer-sinistra {
        /* display: inline-block; */
        flex-direction: row;
    }

    .footer-destra {
        display: flex;
    }

    .bottoni-footer {
        /* transform: scale(0.5); */
        font-size: 1.5rem;
    }

    .bottoni-footer .fa-play-circle {
        font-size: 1.5rem;
    }

    .media-player {
        transform: scale(1);
        padding: 0;
        margin: 0;
        width: 100%;
    }




    .scroll-bar {
        width: 200px;
    }

    .sidebar-info {
        left: 0;
        position: fixed;
        bottom: 7%;
        width: 200px;
    }

    .logo {
        /* height: 100px; */
        width: 160px;
        background-size: contain;
        background-image: url(../img/logo.svg);
        margin: 20px;
    }

    .home img {
        width: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .cerca img {
        margin-right: 10px;
        width: 30px;
    }

    .la-tua-libreria img {
        margin-right: 10px;

        width: 30px;
    }

    .profile img {
        width: 30px;
    }

    .download {
        /* width: calc(100% / 3); */
    }

    .playlist {
        display: inline;
    }

    .home-text {
        display: inline;
    }

    .cerca-text {
        display: inline;
    }

    .libreria-text {
        display: inline;
    }

    .download-text {
        display: inline;
    }

    .profile-text {
        display: inline;
    }

    .profile {
        border-top: 1px solid gray;
        padding: 10px;
    }

    .home {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .cerca {
        display: flex;
        align-items: center;
    }

    .la-tua-libreria {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .download {
        margin: 15px;
        /* width: 35px; */
        display: flex;
    }

    .download img {
        margin-right: 15px;
        width: 20px;
    }

    .effettua-upgrade {
        z-index: 99999;
    }

    .header-main {
        width: calc(100% - 200px);
    }

    .main-content {
        padding-top: 120px;
    }

    .scopri {
        width: calc(100% / 3);
    }

    .plus-playlist {

        display: flex;
    }

    .h3-play {
        display: inline-block;
    }

    .nome-playlist {
        display: block;
        padding-top: 120px;
    }

    .creatoper {
        margin-top: 30px;
        margin-left: 10px;
    }

    .creatoper-sottotesto {
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .artisti {
        margin-top: 30px;
        margin-left: 10px;
    }

    .artisti-sottotesto {
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .album img {
        /* padding: 30px; */
    }

    .bordo-home {
        display: block;
    }
.volume-control{
    width: 60%;
}
.media-player-small{
    width: 100%;
}


}









@media screen and (min-width: 700px) {
    .scopri {
        width: calc(100% / 5);
    }

    .album {
        width: calc(100% / 4);
        padding: 10px;
    }

    .album img {
        /* padding: 10px; */
    }

    .recentlyplayed {
        margin-bottom: 20px;
    }



}

@media screen and (min-width: 1100px) {
    .scopri {
        width: calc(100% / 7);
        font-size: 0.8rem;
        padding-bottom: 20px;
        padding-top: 0;
    }

    .main-content {
        padding-top: 100px
    }

    .album {
        width: calc(100% / 6);
    }


}